<div class="container">
	<div class="row">
		<h4> Name: <br><%= @user.first_name %> <%= @user.last_name %></h4>
		<h5> Email: <br><%= @user.email %></h5>
		<h5> Password: <br><%= @user.password %></h5>
	</div>
</div>